* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    color: #999;
}

.container {
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.game-board {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 100px 100px 100px 100px;
    grid-template-rows: 100px 100px 100px 100px;
    gap: 15px 15px;
}

.cell {
    border: 3px solid rgb(191, 80, 63);
    width: 100%;
    height: 100%;
    background-color: #fff;
    border-radius: 20px;
}
img {
    max-width: 100%;
}

#modal {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}

#modal__window {
    position: relative;
    top: 30%;
    width: 30%;
    margin: 0 auto;
    padding: 20px;
    background-color: #f8f6f6;
    text-align: center;
}

.panel {
    margin-top: 20px;
    text-align: center;
}

button {
    min-width: 100px;
    border: 1px solid lightgray;
    padding: 15px;
    background-color: #fff;
    font-size: 20pt;
    border-radius: 15px;
    opacity: 0.7;
}

button:hover {
    box-shadow: 2px 1px 0 rgb(0, 0, 0);
}

button:active {
    box-shadow: inset 2px 1px 0;
}

.hidden {
    display: none;
}

.status {
    padding: 15px;
    background-color: #fff;
    font-size: 20pt;
    border-radius: 15px;
    opacity: 0.7;
}
